<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/path" method="get">
        <label>
            Origem
            <input id="from" name="from" type="text"/>
        </label>
        <label>
            Destino
            <input id="to" name="to" type="text"/>
        </label>
        <input type="submit" value="Buscar"/>
    </form>
    <% if(typeof path !== 'undefined') { %>
    <ul>
      <% path.forEach(function(article) { %>
        <li>
          <%= article %>
        </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
  <script src="/javascripts/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/jquery.autocomplete.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
